@tailwind base;

@tailwind components;

@import url("https://fonts.googleapis.com/css?family=Merriweather&display=swap");

* {
  font-family: "Merriweather", serif;
}
.nav-bar > .logo {
  background: rgb(26, 42, 108);
  background: linear-gradient(
    102deg,
    rgba(26, 42, 108, 1) 0%,
    rgba(178, 31, 31, 1) 18%,
    rgba(253, 187, 45, 1) 46%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 5px #be3822;
}

.clock {
  background: transparent
    linear-gradient(254deg, #1a2a6c 0%, #b21f1f 48%, #fdbb2d 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 40px;
}

.inner-box {
  background: white;
  box-sizing: border-box;
  border-radius: 34px;
}

button {
  @apply text-blue-700 border-2 border-blue-500 m-2 p-2 rounded-full;
  box-sizing: border-box;
  font-weight: bold;
}
button:hover,
button.active,
button.clicked {
  color: white;
  background-color: #1a2a6c;
  box-sizing: border-box;
  border: 2px solid transparent;
  font-weight: bold;
}

button:disabled,
button:disabled:hover {
  cursor: not-allowed;
  border: 1px solid gray;
  color: gray;
  background: white;
}

.nav-bar > a {
  color: #1a2a6c;
  text-shadow: 3px 3px 10px #1a2a6c;
  @apply font-extrabold;
}

.what-is {
  background: transparent
    linear-gradient(251deg, #fdbb2d 0%, #b21f1f 53%, #1a2a6c 100%) 0% 0%
    no-repeat padding-box;
  opacity: 1;
}
.what-is > p,
.how-to > p {
  text-align: left;
  font: Italic 30px Merriweather;
  padding: 65px;
  letter-spacing: 0.9px;
  color: #ffffff;
  opacity: 1;
}
.what-is > h2,
.how-to > h2 {
  font: Italic 30px Merriweather;
  padding-top: 20px;
  letter-spacing: 0.9px;
  color: #ffffff;
  opacity: 1;
  text-align: center;
}
.how-to {
  background: white;
}
.how-to > p,
.how-to > h2 {
  color: black;
}

.time > p {
  color: #1a2a6c;
  font-weight: 900;
  text-shadow: 0px 0px 2px #fdbb2d;
}

button:focus {
  outline: none;
}

.expired-label {
  color: #1a2a6c;
  font-weight: 900;
  text-shadow: 0px 0px 2px #fdbb2d;
  animation: blinkingText 1.2s infinite;
}
@keyframes blinkingText {
  0% {
    color: #000;
  }
  49% {
    color: #000;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #000;
  }
}

@tailwind utilities;
